.air_dodge{top:0px;left:0px;
width:62px;height:74px;background: url("sprites.png") no-repeat -650px -1020px;}
.b{top:0px;left:0px;
width:224px;height:78px;background: url("sprites.png") no-repeat -408px -1922px;}
.bair{top:0px;left:0px;
width:360px;height:88px;background: url("sprites.png") no-repeat -0px -2248px;}
.bdown{top:0px;left:0px;
width:600px;height:100px;background: url("sprites.png") no-repeat -0px -932px;}
.broken{top:0px;left:0px;
width:58px;height:80px;background: url("sprites.png") no-repeat -656px -848px;}
.bthrow{top:0px;left:0px;
width:256px;height:78px;background: url("sprites.png") no-repeat -430px -1758px;}
.crouch{top:0px;left:0px;
width:180px;height:78px;background: url("sprites.png") no-repeat -540px -1288px;}
.dair{top:0px;left:0px;
width:430px;height:78px;background: url("sprites.png") no-repeat -0px -1758px;}
.dash_attack{top:0px;left:0px;
width:752px;height:80px;background: url("sprites.png") no-repeat -0px -410px;}
.down{top:0px;left:0px;
width:574px;height:90px;background: url("sprites.png") no-repeat -0px -1198px;}
.downb{top:0px;left:0px;
width:476px;height:72px;background: url("sprites.png") no-repeat -0px -1526px;}
.dsmash{top:0px;left:0px;
width:420px;height:80px;background: url("sprites.png") no-repeat -0px -1836px;}
.dtilt{top:0px;left:0px;
width:222px;height:84px;background: url("sprites.png") no-repeat -476px -1526px;}
.edge{top:0px;left:0px;
width:57px;height:76px;background: url("sprites.png") no-repeat -656px -1180px;}
.entry{top:0px;left:0px;
width:328px;height:84px;background: url("sprites.png") no-repeat -380px -2078px;}
.fair{top:0px;left:0px;
width:576px;height:86px;background: url("sprites.png") no-repeat -0px -1112px;}
.final_smash{top:0px;left:0px;
width:720px;height:102px;background: url("sprites.png") no-repeat -0px -490px;}
.flinch{top:0px;left:0px;
width:82px;height:82px;background: url("sprites.png") no-repeat -574px -1198px;}
.flinch2{top:0px;left:0px;
width:64px;height:78px;background: url("sprites.png") no-repeat -696px -1922px;}
.flinch3{top:0px;left:0px;
width:66px;height:88px;background: url("sprites.png") no-repeat -600px -932px;}
.grab{top:0px;left:0px;
width:198px;height:80px;background: url("sprites.png") no-repeat -480px -1442px;}
.heavy{top:0px;left:0px;
width:56px;height:78px;background: url("sprites.png") no-repeat -666px -928px;}
.hold{top:0px;left:0px;
width:66px;height:80px;background: url("sprites.png") no-repeat -646px -1100px;}
.hover{top:0px;left:0px;
width:370px;height:86px;background: url("sprites.png") no-repeat -0px -2162px;}
.idle{top:0px;left:0px;
width:464px;height:84px;background: url("sprites.png") no-repeat -0px -1674px;}
.jab{top:0px;left:0px;
width:528px;height:76px;background: url("sprites.png") no-repeat -0px -1366px;}
.jab2{top:0px;left:0px;
width:400px;height:78px;background: url("sprites.png") no-repeat -0px -2000px;}
.jab3{top:0px;left:0px;
width:480px;height:84px;background: url("sprites.png") no-repeat -0px -1442px;}
.jump{top:0px;left:0px;
width:880px;height:94px;background: url("sprites.png") no-repeat -0px -316px;}
.lose{top:0px;left:0px;
width:408px;height:84px;background: url("sprites.png") no-repeat -0px -1916px;}
.mid_jump{top:0px;left:0px;
width:700px;height:90px;background: url("sprites.png") no-repeat -0px -592px;}
.nair{top:0px;left:0px;
width:280px;height:86px;background: url("sprites.png") no-repeat -420px -1836px;}
.pummel{top:0px;left:0px;
width:70px;height:80px;background: url("sprites.png") no-repeat -576px -1100px;}
.roll{top:0px;left:0px;
width:350px;height:90px;background: url("sprites.png") no-repeat -360px -2248px;}
.run{top:0px;left:0px;
width:124px;height:70px;background: url("sprites.png") no-repeat -528px -1366px;}
.shield{top:0px;left:0px;
width:52px;height:70px;background: url("sprites.png") no-repeat -678px -1434px;}
.shoot{top:0px;left:0px;
width:330px;height:80px;background: url("sprites.png") no-repeat -370px -2162px;}
.sideb{top:0px;left:0px;
width:684px;height:80px;background: url("sprites.png") no-repeat -0px -682px;}
.sidebair{top:0px;left:0px;
width:684px;height:86px;background: url("sprites.png") no-repeat -0px -762px;}
.spot_dodge{top:0px;left:0px;
width:64px;height:72px;background: url("sprites.png") no-repeat -632px -1922px;}
.ssmash{top:0px;left:0px;
width:2380px;height:92px;background: url("sprites.png") no-repeat -0px -0px;}
.stilt{top:0px;left:0px;
width:380px;height:84px;background: url("sprites.png") no-repeat -0px -2078px;}
.swing{top:0px;left:0px;
width:684px;height:80px;background: url("sprites.png") no-repeat -0px -682px;}
.taunt{top:0px;left:0px;
width:240px;height:84px;background: url("sprites.png") no-repeat -464px -1674px;}
.tumble{top:0px;left:0px;
width:74px;height:68px;background: url("sprites.png") no-repeat -576px -1032px;}
.uair{top:0px;left:0px;
width:1100px;height:120px;background: url("sprites.png") no-repeat -0px -92px;}
.upb{top:0px;left:0px;
width:470px;height:76px;background: url("sprites.png") no-repeat -0px -1598px;}
.usmash{top:0px;left:0px;
width:656px;height:84px;background: url("sprites.png") no-repeat -0px -848px;}
.uthrow{top:0px;left:0px;
width:304px;height:78px;background: url("sprites.png") no-repeat -400px -2000px;}
.utilt{top:0px;left:0px;
width:540px;height:78px;background: url("sprites.png") no-repeat -0px -1288px;}
.vehicle{top:0px;left:0px;
width:62px;height:68px;background: url("sprites.png") no-repeat -652px -1366px;}
.walk{top:0px;left:0px;
width:576px;height:80px;background: url("sprites.png") no-repeat -0px -1032px;}
.win{top:0px;left:0px;
width:972px;height:104px;background: url("sprites.png") no-repeat -0px -212px;}
